{% extends 'base.html.twig' %}

{% form_theme formserv 'bootstrap_4_layout.html.twig' %}
{% block body %}
<br>
{% for message in app.flashes('danger') %}
<div class="alert alert-danger">
{{message}}
</div>
{% endfor %}
<h1>création d'un service </h1>
{{ form_start(formserv) }}

{{ form_row(formserv.libelle) }}
<button type="submit" class="btn-success">
{% if editMode %}
 Enregister Modification
 {% else %}
Ajouter une service
 {% endif %} 
</button>
{{ form_end(formserv) }}
{{form(formserv)}}
{# liste des service #}

<center><h1> La liste des services</h1> </center>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">libelle</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
    </thead>
    <tbody>
{% for service in services %}
  
   <tr>
   <td>{{service.id}}</td>
      <td>{{service.libelle}}</td>
    
     <td>
     <button class="btn btn-primary btn-lg">
     <a href="{{path('editserv',{id:service.id})}}">Modifier</a>
     </td>
     <td>
     <button class="btn btn-danger btn-lg">
     <a href="{{path('deltsev',{id:service.id})}}">Supprimer</a>
     </td>
    </tr>
{% endfor %}
  </tbody>
</table>



{% endblock %}
